body {
    background-color: #F7F7F7;
    
}

input[type=number] {
    width: 40px;
}

input[type=number]#despesasMedicas {
    width: 80px;
}

p {
    font-size: 14px;
}

label {
    font-size: 14px;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 16px;
}

#formulario {
    width: 100%
}

#resultado {
    width: 100%
}

.conteudo {
    background-color: white;
}

.titulo {
    background-color: #4E4E4E;
    color: white;
    font-size: 2rem;
}

.avisoRemuneracao {
    background-color: yellow;
    color: black;
}

div .form-group {
    margin-top: 5pt;
    margin-bottom: 5pt;
}

div .form-section {
    margin-top: 5pt;
    margin-bottom: 5pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
    background-color: lightgrey;
}

