.titulo {
    font-size: 1.2rem;
    color: white;
    text-align: center;
}

.secao {
    font-size: 1.1rem;
    font-weight: 500;
    padding-top: 2pt;
    padding-bottom: 2pt;
    text-align: center;
}

.subsecao {
    font-size: 1rem;
    font-weight: 500;
    padding-top: 2pt;
    padding-bottom: 2pt;
}

.form-group {
    padding-top: 3pt;
    padding-bottom: 3pt;
}

.item-resultado {
    padding-top: 1pt;
    padding-bottom: 1pt;
}
